.tasks-filter-controls {
    display: flex;
    flex-direction: column;
    font-size: 13.5px;
}

.tasks-filter-controls input:not(input[type="radio"]), .tasks-filter-controls select {
    border: var(--global-border);
    height: 38px;
    margin: 9px 0;
    border-radius: var(--global-border-radius);
    border: 1px solid var(--global-background-color);
}

.ownership-filter-container {
    display: flex;
    gap: 10px;
}

.ownership-filter-container input {
    margin-right: 5px;
}