@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

* {
  font-family: Inter, 'Nunito', sans-serif;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.App > form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.App > form > div {
  display: flex;
  flex-direction: column;
  padding: 5px 0;
}


.App > form > div > input:not(input[type="submit"]){
  padding: 8px 0;
  background: #FFFFFF;
  border: var(--global-border);
  border-radius: var(--global-border-radius);
}

.App > form > div > label {
  font-weight: 400;
}

input[type="submit"] {
  padding: 10px;
  background-color: var(--global-primary-color);
  color: white;
  border-radius: var(--global-border-radius);
  border: none;
}

.link {
  text-decoration: none;
  color: black;
  align-self: flex-start;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 400;
}

@media screen and (min-width: 600px) {
  .App > form {
    width: 400px;
  }
}