@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

* {
  font-family: 'Nunito', sans-serif;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App > form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 20px;
}

.App > form > div {
  display: flex;
  flex-direction: column;
  padding: 5px 0;
}

.App > form > div > *:not(label), input[type=submit]{
  padding: 8px 0;
  border-radius: 8px;
  border: none;
}

input[type="submit"] {
  background-color: #FF452B;
  color: white;
}


@media screen and (min-width: 600px) {
  .App > form {
    width: 400px;
  }
}