:root {
  --global-primary-color: #FF452B;
  --global-background-color: #E5E5E5;
  --global-border: 1px solid #E5E5E5;
  --global-border-radius: 8px;
}

input:not(input[type="radio"]), select, textarea {
  border: var(--global-border);
  border-radius: var(--global-border-radius);
}

input:not(input[type="radio"]), select {
  height: 40px;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
